footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aqua;
    p{
        font-size: 13px;
        color: black;
    }
}